certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
drake==0.0.20231120
fonttools==4.45.0
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
pydot==1.4.2
pydrake==0.2.1
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.4
six==1.16.0
urllib3==2.1.0
